body {
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Mukta', sans-serif;
}